#Fill half the pop with organism A and give it a marker of 0
u begin InjectRange ../organisms/flatPool/dom-12.org-A 0 1799 4325376.000000 0

#Fill half the pop with organism B and give it a marker of 1
u begin InjectRange ../organisms/flatPool/dom-12.org-B 1800 3599 129024.000000 0

#Save the population after 50 generations
g 50 SavePopulation

#Stop after 50 generations
g 50 Exit
